<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create user</title>
</head>
<body>
    <h1> User Registration page</h1>
    {% if messages %}
<ul >
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{form}}
        </table>
        <input type="submit" value="Register">

    </form>
    <p class="text-center">If you already have an account, <a href="/r/login">login</a> instead.</p>
</body>
</html>