<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
<ul >
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <form action="" method="POST" novalidate>
        {% csrf_token%}
        <table>
            {{form}}
        </table>
        <input type="submit" value="submit">
    </form>
    <div><a href="{% url 'list_contact'  %}">customer list</a></div>
    <div><a href="{% url 'login'  %}">login</a></div>
    
</body>
</html>